div.react-datepicker__input-container input {
  display: flex;
  width: 100%;
  height: 26px;
  outline: none;
  border: none;
  font-size: 14px;
}
div.react-datepicker__input-container input:focus {
  outline: none;
  box-shadow: none;
}

div.react-datepicker-wrapper {
  width: 100%;
  margin-left: -8px;
}
div.react-datepicker-popper {
  width: calc(100.25%);
  margin-left: -1px;
}
div.react-datepicker__tab-loop {
  transition: none;
}
div.react-datepicker__tab-loop div.react-datepicker-popper div:not([class]),
div.react-datepicker__month-container,
div.react-datepicker {
  width: 100%;
  width: 100%;
  animation: fade-in 0.3s ease-in;
}
div.react-datepicker {
}
div.react-datepicker__triangle {
  display: none;
}
